#suggestions{
    width: 100%;
    margin: 1.1rem 0;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 0.3rem 1rem;
    #recommended, #featured{
        width: 100%;
        padding:0;
        overflow: hidden;
        background-color: var(--homeBoxes-bg-clr);
        transition: background-color 0.3s linear;
        display: block;
        padding: 1.3rem 1rem;
        margin-top: 1.3rem;
        border-radius: var(--radius);
        box-shadow: 0px 4px 16px 0px rgba(44,101, 144, 0.1);
        .suggestions--box--header{
            align-items: center;
            justify-content: space-between;
        }
        .list--name{
            margin-bottom: 1.5rem;
        }
        ul{
            list-style: none;
            padding: 0;
        }
    }
    #featured{
        ul.pop--tags--list{
            display: flex;
            flex-wrap: wrap;
            padding: 1.4rem 0.5rem;
            gap: 1rem 0.6rem;
            width: 100%;
            background-color: var(--more-lighter-gray);
            align-items: stretch;
            border-radius: var(--radius);
            li.pop--tags--list--item{
                .pop--tag{
                    padding: 0.2rem 0.4rem;
                    border-radius: var(--radius);
                    background-color: var(--pill-bg-color);
                    color: var(--pill-text-color);
                    transition:  0.3s linear;
                    transition-property: color, background-color;
                    cursor: pointer;
                    border: 1px solid transparent;
                    &:hover{
                        background-color: var(--light-primary-clr);
                        color: var(--text-black);
                        border-color: var(--text-black);
                    }
                    &:active{
                        background-color: var(--primary-clr);
                    }
                }
            }
        }
    }
    #recommended{
        .remomended--list{
            display: grid;
            gap: 0.8rem 0.6rem;
            .recommended--item{
                background-color: var(--more-lighter-gray);
                border-radius: var(--radius);
                display: grid;
                place-items: center;
                padding: 0.9rem 0.5rem;
                cursor: pointer;
                transition: background-color 0.3s linear;
                .recommended--item--inner{
                    svg{
                        color: var(--primary-clr);
                        width: 50px;
                        margin: 0 auto 1.4rem auto;
                    }
                    img{
                        width: 50px;
                        min-height: 100%;
                        object-fit: contain;
                        background-color: inherit;
                        margin-bottom: 1.4rem;
                    }  
                    h5{
                        display: block;
                        text-align: center;
                        text-transform: capitalize;
                    }
                }
                &:hover{
                    background-color: var(--light-primary-clr);
                }
                &:active{
                    background-color: var(--primary-clr);
                }
            }

        }
    }
}