.slidableListItem{
    margin-right: 0.2rem;
    max-width: 180px;
    &:last-of-type{
        margin-right: 0;
    }
    .picture--container{
        position: relative;
        min-height: 8.75rem;
        width: 100%;
        .music--anim--container, .slidable--item--layout, .slidable--item--layout--inner, img{
                position: absolute;
                top:0;
                left: 0;
                width: 100%;
        }
        .slidable--item--layout{
            height: 100%;
            visibility: none;
            opacity: 0;
            pointer-events: none;
            background-color: rgba(0,0,0,0.2);
            color: var(--gray);
            padding: 0.4rem;
            display: block;
            border-radius: var(--radius) ;

            .slidable--item--layout--inner{
                height: 100%;
                top:0;
                left: 0;
                z-index: 10;
                --item-spacing: 0.620rem;
                .option__btn{
                    cursor: pointer;
                    color: #fff;
                    padding: 0.1rem 0.2rem;
                    width: 1.875rem;
                    height: 1.875rem;
                    border-radius: 50%;
                    background-color: transparent;
                    backdrop-filter: blur(15px) brightness(90%);
                    transition: 0.2s linear;
                    transition-property: background-color;
                    display: grid;
                    place-content: center;
                    &:hover{
                        background-color: var(--primary-clr);
                    }
                }
                .slidable__item__fav__btn, .slidable__item__options__btn, .slidable__item__media__btn{
                    position: absolute;
                    right: var(--item-spacing);
                }
                .slidable__item__options__btn, .slidable__item__media__btn{
                    bottom: var(--item-spacing);
                }
                .slidable__item__fav__btn{
                    top: var(--item-spacing);
                } 
                .slidable__item__media__btn{
                    left: var(--item-spacing);
                }
                .slidable__item__options__btn{
                    font-size: 1.375rem;
                }
                .unlike{
                    color: var(--light-red);
                }
            }

        }
        img{
            height: 8.75rem;
            min-height: 100%;
            object-fit: fill;
            border-radius: var(--radius);
            z-index: 3;
        }
        .music--anim--container{
            position: absolute;
            top: 50%;
            left: 50%;
            display: flex;
            align-items: center;
            justify-content: center;
            transform: translate(-50%,-50%);
            z-index: 3;
          }
    }      
    &:hover{
        .picture--container .slidable--item--layout{
            visibility: visible;
            pointer-events: auto;
            opacity: 1;
        }
    }
    .slidablelist--station--info{
        margin-top:0.3rem;
        .station--name, .station--location{
            width:100%;
        }
    }
}
